<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br>
                    Edytuj zamiennik do <%= product.title %>
                </div>
                <div class="card-body">
                        <form action="/products/<%= product._id %>/substitutes/<%= substitute._id %>?_method=PUT" method="post">
                            
                            <p class="description_new">Edytuj opis cechy</p>
                            <textarea name="substitute[text]" id="description" class="form-control" placeholder="Zamiennik" required><%= substitute.text %></textarea>
                            <br>
                           
                            <input type="submit" value="Edytuj zamiennik" class="btn btn-outline-dark">
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include("../partials/footer") %>