<%- include("../partials/header") %>
<br>
<br>
<br>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br>
                    Edytuj o mnie
                </div>
                <div class="card-body">
                        <form action="/about/<%= user._id %>?_method=PUT" method="post">
                            <p class="description_new">Edytuj nazwę użytkownika</p>
                            <input type="text" name="blogger[username]" class="form-control" value="<%= user.username %>" placeholder="Nazwa użytkownika" required>
                            <br>
                            <p class="description_new">Edytuj email</p>
                            <input type="email" name="blogger[email]" class="form-control" value="<%= user.email %>" placeholder="Email" required>
                            <br>
                            <p class="description_new">Edytuj imię</p>
                            <input type="text" name="blogger[name]" class="form-control" value="<%= user.name %>" placeholder="Imię" required>
                            <br>
                            <p class="description_new">Edytuj nazwisko</p>
                            <input type="text" name="blogger[surname]" class="form-control" value="<%= user.surname %>" placeholder="Nazwisko" required>
                            <br>
                            <p class="description_new">Edytuj opis samego siebie</p>
                            <textarea name="blogger[description]" id="description" class="form-control" placeholder="Opis samego siebie"><%= user.description %></textarea>
                            <br>
                            <p class="description_new">Wypisz po przecinku swoje hobby</p>
                            <input type="text" name="blogger[hobbies]" class="form-control" value="<%= user.hobbies %>" placeholder="Hobby">
                            <br>
                            <p class="description_new">Edytuj miejscowość</p>
                            <input type="text" name="blogger[city]" class="form-control" value="<%= user.city %>" placeholder="Miejscowość">
                            <br>
                            <p class="description_new">Edytuj wiek</p>
                            <input type="number" name="blogger[age]" class="form-control" value="<%= user.age %>" placeholder="Wiek">
                            <br>
                            <input type="submit" value="Edytuj o mnie" class="btn btn-outline-dark">
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include("../partials/footer") %>