<%- include("../partials/header") %>

<div class="container customContainer">
    
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <img src="<%= thisUser.profile %>" alt="" class="card-img-top show">
                
                <div class="card-body">
                    <div class="card-title text-center title">
                        <%= thisUser.username %>
                    </div>
                    <% if( thisUser.description !== ""){ %>
                        <p class="description"><%= thisUser.description %></p>
                    <% } else { %>
                        <div class="alert alert-secondary" role="alert">
                            Użytkownik nie dodał jeszcze swojego opisu
                        </div>
                    <% } %>
                    <dl>
                        <dt class="description_new">Wiek</dt>
                      
                            <% if( thisUser.age !== ""){ %>
                                <dd class="description"><%= thisUser.age %></dd>
                            <% } else { %>
                                <div class="alert alert-secondary" role="alert">
                                   Użytkownik nie dodał jeszcze swojego wieku
                                </div>
                            <% } %>
                       
                       
                        <dt class="description_new">Miejscowość</dt>
                        
                            <% if( thisUser.city !== ""){ %>
                                <dd class="description"><%= thisUser.city %></dd>
                            <% } else { %>
                                <div class="alert alert-secondary" role="alert">
                                    Użytkownik nie dodał jeszcze swojej miejscowości zamieszkania
                                </div>
                            <% } %>
                        
                       
                        <dt class="description_new">Zainteresowania</dt>
                        
                            <% if(thisUser.hobbies && thisUser.hobbies.trim() !== ""){ %>
                                <dd class="description"><%= thisUser.hobbies %></dd>
                            <% } else { %>
                                <div class="alert alert-secondary" role="alert">
                                    Użytkownik nie dodał jeszcze swoich zainteresowań
                                </div>
                            <% } %>
                        
                        
                        <dt class="description_new">Przepisy</dt>
                        <% if(recipes.length === 0){ %>
                            <div class="alert alert-secondary" role="alert">
                                Użytkownik nie dodał jeszcze przepisów
                            </div>
                        <% } else { %>
                            <div class="row">
                                <% recipes.forEach((recipe) => { %>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <img src="<%= recipe.profile %>" alt="<%= recipe.title %>" class="img-fluid">
                                        <div class="link_div text-center">
                                            <a href="/recipes/<%= recipe.link %>" class="more_details_link"><%= recipe.title %></a>
                                        </div>
                                        
                                    </div>
                                <% }) %>
                                
                            </div>
                        <% } %>
                        
                    </dl>
                    
                    <% if(currentUser && currentUser.username === thisUser.username){ %>
                        <a href="/about/<%= currentUser._id %>/edit" class="btn btn-outline-dark">Edytuj opisy</a>
                        <a href="/about/<%= currentUser._id %>/edit/profile" class="btn btn-dark">Edytuj zdjęcie profilowe</a>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>