<%- include("partials/headera") %>
                <div class="card">
                    <div class="card-title text-center headerp">
                        <br>
                        Logowanie do Cookiety
                    </div>
                    <div class="card-body">
                        <% if(error && error.length > 0){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= error %>
                            </div>
                        <% } %>
                        <% if(success && success.length > 0){ %>
                            <div class="alert alert-success" role="alert">
                                <%= success %>
                            </div>
                        <% } %>
                        <form action="/login?return_route=<%= route %>" method="post">
                            <div class="input-group mb-3">
                                
                                <span class="input-group-text" id="basic-addon1" style="background: none; color:  #212529; border-color: #212529;"><i class="fas fa-user"></i></span>
                                
                                <input type="text" class="form-control" name="username" id="username" placeholder="Nazwa użytkownika" aria-label="Nazwa użytkownika" aria-describedby="basic-addon1" required>
                            </div>
                            
                            <div class="input-group mb-3">
                                
                                <span class="input-group-text" id="basic-addon1" style="background: none; color:  #212529; border-color: #212529;"><i class="fas fa-lock"></i></span>
                                
                                <input type="password" class="form-control" name="password" id="password" placeholder="Hasło" aria-label="Hasło" aria-describedby="basic-addon1" required>
                            </div>
                            <div class="text-center">
                                <a href="/forgot" style="color: #212529;">Zapomniałem hasło</a>
                            </div>
                            <div class="links">
                                <input type="submit" value="Zaloguj się" class="btn btn-outline-dark text-center">
                                <p>lub</p>
                                <a class="btn btn-dark" href="/register">Załóż konto</a>
                            </div>
                            
                            
                            
                        </form>
                       
                        
                    </div>
                </div>
    <%- include("partials/footera") %>