<%- include("partials/headera") %>
                <div class="card" style="margin: 10px 0;">
                    <div class="card-title text-center headerp mb-3">
                        <br>
                        Weryfikacja konta Cookiety
                    </div>
                    <div class="card-body">
                        <% if(error && error.length > 0){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= error %>
                            </div>
                        <% } %>
                        <% if(success && success.length > 0){ %>
                            <div class="alert alert-success" role="alert">
                                <%= success %>
                            </div>
                        <% } %>
                        <form action="/about/<%= blogger_id %>/verification?return_route=<%= return_route %>" method="post">
                            <div class="input-group mb-3">
                                
                                <span class="input-group-text" id="basic-addon1" style="background: none; color:  #212529; border-color: #212529;" required><i class="fas fa-hashtag"></i></span>
                                
                                <input type="number" class="form-control" name="code" id="code" placeholder="Podaj kod" aria-label="Podaj kod" aria-describedby="basic-addon1">
                            </div>
                           
                            <div class="links">
                                <button type="submit" name="action" value="verify" class="btn btn-outline-dark text-center">Zweryfikuj konto</button>
                                <p>lub</p>

                                <button type="submit" name="action" value="resend" class="btn btn-dark">Wyślij kod ponownie</button>
                            </div>
                        </form>
                       
                        
                    </div>
                </div>
<%- include("partials/footera") %>