<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br>
                    Dodaj przepis do kategorii <%= category.name %>
                </div>
                <div class="card-body">
					<% if(thisNotAdd.length !== 0){ %>
                            <p class="informations">
                                Niestety nie udało mi się jeszcze zapobiec błędowi, żeby 
                                podwójnie nie powiązać przepisu, więc tu lista, których nie dodawać
                            </p>
                            <ul class="informations">
                                <% for(let i=0;i<thisNotAdd.length;i++){ %>
                                    <li><ins><%= thisNotAdd[i].title %></ins></li>
                                <% } %>
                            </ul>
                        <% } %>
                        <form action="/recipes/category/<%= category._id %>/recipes" method="post">
                            <p class="description_new">Wybierz przepis</p>
                            <% if(recipes.length === 0){ %>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="alert alert-secondary text-center" role="alert">
                                        Dodaj najpierw jakiś przepis
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Dodaj przepis do kategorii" class="btn btn-outline-dark" disabled>
                            <% } else { %>
                                <select name="recipe" id="select" class="form-control">
                                    <% for(let i=0;i< recipes.length;i++){ %>
                                       
                                            <option value="<%= recipes[i]._id %>"><%= recipes[i].title %></option>
                                        
                                       
                                       
                                       
                                        
                                    <% } %>
                                </select>
                                <br>
                                
                                <input type="submit" value="Dodaj przepis do kategorii" class="btn btn-outline-dark">
                            <% } %>
                           
                            
                            
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include("../partials/footer") %>