<%- include("../partials/header") %>
<div class="container customContainer">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br>
                    Dodaj przepis do kategorii <%= category.name %>
                </div>
                <div class="card-body">
                    <% if(error && error.length > 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                        
                       
                        <form action="/recipes/category/<%= category._id %>/recipes" method="post">
                            <p class="description_new">Wybierz przepis</p>
                            <% if(recipes.length === 0){ %>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="alert alert-secondary text-center" role="alert">
                                       Dodałeś wszystkie przepisy do tej kategorii
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Dodaj przepis do kategorii" class="btn btn-outline-dark" disabled>
                            <% } else { %>
                                <select name="recipe" id="select" class="form-control" required>
                                    <% for(let i=0;i< recipes.length;i++){ %>
                                      
                                        <option value="<%= recipes[i]._id %>"><%= recipes[i].title %></option>
                                                
                                       
                                       
                                       
                                        
                                    <% } %>
                                </select>
                                <br>
                                
                                <input type="submit" value="Dodaj przepis do kategorii" class="btn btn-outline-dark">
                            <% } %>
                           
                            
                            
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include("../partials/footer") %>