<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    
    
 
   
    <div class="row">
        <div class="col-lg-12">
            <h1 class="headerp text-center">Wszystkie przepisy z kategorii: <%= category.name %></h1>
            <% if(currentUser){ %>
                <div class="dropdown text-center">
                    <button class="btn btn-outline-dark dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Modyfikacja
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/recipes/category/<%= category._id %>/edit">Edytuj kategorię</a>
                        <a class="dropdown-item" href="/recipes/category/<%= category._id %>/delete">Usuń kategorię</a>
                        <a href="/recipes/category/<%= category._id %>/recipes/add" class="dropdown-item">Dodaj przepis do kategorii</a>
                        
                    </div>
                </div>
                <br>
                
                
            <% } %>
            <form action="/recipes/category/<%= category.link %>/search" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="category_id" value="<%= category._id %>" hidden>
                    <input type="search" id="news" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł przepisu" aria-label="Wpisz tytuł przepisu" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark" type="submit" style="border:none; border-bottom: 1px solid #212529;"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <% if(categories.length !== 0){ %>
                <div class="dropdown text-center">
                    <button class="btn btn-outline-dark dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Wybierz inną kategorię
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% for(let i=0; i< categories.length; i++){ %>
                            <% if(categories[i].link === category.link){ %>
                                <a class="dropdown-item active" href="/recipes/category/<%= categories[i].link %>"><%= categories[i].name %></a>
                            <% } else { %>
                                <a class="dropdown-item" href="/recipes/category/<%= categories[i].link %>"><%= categories[i].name %></a>
                            <% } %>
                           
                        <% } %>
                        
                    </div>
                </div>
                <br>
            <% } %>
        </div>
    </div>

    <% if(category.recipes.length===0){ %>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="alert alert-secondary text-center" role="alert">
                    Nie mamy jeszcze przepisów na stronie z kategorii: <%= category.name %>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="row">
                
                    <% for(let i=category.recipes.length-1; i>=0;i--){ %>
                        
                        <div class="col-lg-4 col-md-12" style="margin-top: 8px">
                            <div class="card">
                                <img src="<%= category.recipes[i].profile %>" alt="" class="card-img-top">
                                <br>
                                <div class="card-title text-center title">
                                    <a href="/recipes/<%= category.recipes[i].link %>" style="color: #212529"><%= category.recipes[i].title %></a>
                                    
                                </div>
                                <div class="card-body">
                                    <% if(category.recipes[i].description.length < 200){ %>
                                        <p class="description"><%- category.recipes[i].description %></p>
                                    <% } else { %>
                                        <p class="description"><%- category.recipes[i].description.substring(0,200) %>...</p>
                                    <% } %>
                                    <label>
                                        <i class="far fa-clock"></i>
                                        <span style="margin-right:5px">
                                            <% if(category.recipes[i].hours === 0){ %>
                                                <%= `${category.recipes[i].minutes}min` %>
                                            <% } else { %>
                                                <%= `${category.recipes[i].hours}h ${category.recipes[i].minutes}min` %>
                                            <% } %>
                                            
                                        </span>
                                        <i class="fas fa-utensils"></i>
                                        <span style="margin-right:5px"><%= category.recipes[i].plates %></span>
                                        <i class="fas fa-comments"></i>
                                        <span><%= category.recipes[i].comments.length %></span>
                                    </label>
                                    <br>
                                    <a href="/recipes/<%= category.recipes[i].link %>" class="btn btn-outline-dark">Zobacz składniki</a>
                        
                        
                                </div>
                        
                            </div>
                        </div>
                    <% } %>
                
        </div>
       
    <% } %>
    
    
</div>
<%- include("../partials/footer") %>