<%- include("../partials/header") %>

<div class="container customContainer">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br>
                    Edytuj składnik do przepisu <%= recipe.title %>
                </div>
                <div class="card-body">
                        <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>?_method=PUT" method="post">
                            
                            <p class="description_new">Edytuj opis składnika</p>
                            <textarea name="ingredient[text]" id="description" class="form-control" placeholder="Składnik" required><%= ingredient.text %></textarea>
                            <br>
                           
                            <input type="submit" value="Edytuj składnik" class="btn btn-outline-dark">
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include("../partials/footer") %>