<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br>
                    Edytuj składnik sosu <%= recipe.title %>
                </div>
                <div class="card-body">
                        <form action="/recipes/<%= recipe._id %>/sauce/<%= sauce._id %>?_method=PUT" method="post">
                            
                            <p class="description_new">Opis składniku sosu</p>
                            <textarea name="sauce[text]" id="description" class="form-control" placeholder="Składnik sosu"><%= sauce.text %></textarea>
                            <br>
                           
                            <input type="submit" value="Edytuj składnik sosu" class="btn btn-outline-dark">
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include("../partials/footer") %>