<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-title text-center title_new" id="name">
                        <br> 
                    
                        Edytuj <%= recipe.title %>
                    </div>
                    <div class="card-body">
                        <form action="/recipes/<%= recipe._id %>?_method=PUT" method="post">
                            <p class="description_new">Edytuj tytuł</p>
                            <input type="text" name="recipe[title]" class="form-control" value="<%= recipe.title %>" placeholder="Tytuł przepisu" required>
                            <br>
                            <p class="description_new">Edytuj ilość godzin potrzebnych do przygotowania</p>
                            <input type="number" name="recipe[hours]" min="0" max="24" class="form-control" value="<%= recipe.hours %>" placeholder="Godziny" required>
                            <br>
                            <p class="description_new">Edytuj ilość minut potrzebnych do przygotowania</p>
                            <input type="number" name="recipe[minutes]" min="0" max="60" class="form-control" value="<%= recipe.minutes %>" placeholder="Minuty" required>
                            <br>
                            <p class="description_new">Edytuj ilość porcji</p>
                            <input type="number" name="recipe[plates]" class="form-control" value="<%= recipe.plates %>" placeholder="Porcje" required>
                            <br>
                            <p class="description_new">Edytuj opis</p>
                            <textarea name="recipe[description]" class="form-control" id="description" placeholder="Opis przepisu"><%= recipe.description %></textarea>
                            <br>
                            <p class="description_new">Edytuj poziom zaawansowania</p>
                                    <select name="recipe[level]" id="select" class="form-control" required>
                                        <option><%= recipe.level %></option>
                                        <option>Łatwy</option>
                                        <option>Średni</option>
                                        <option>Zaawansowany</option>
                                    </select>
                                    <br>
                            <ul class="description_new">
                                Poradnik formatowania tekstu opisu przepisu:
                                <li class="informations" style="font-size:15px">pogrubienie -  <pre style="color:#212529"> <code> <span> &lt;strong&gt; wyraz lub wyrażenie &lt;/strong&gt; </span> </code>  </pre></li>
                                <li class="informations" style="font-size:15px">pochylenie -  <pre style="color:#212529"> <code> <span> &lt;em&gt; wyraz lub wyrażenie &lt;/em&gt; </span> </code>  </pre></li>
                                <li class="informations" style="font-size:15px">podkreślenie -  <pre style="color:#212529"> <code> <span> &lt;ins&gt; wyraz lub wyrażenie &lt;/ins&gt; </span> </code>  </pre></li>
                                <li class="informations" style="font-size:15px">przekreślenie -  <pre style="color:#212529"> <code> <span> &lt;del&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre></li>
                                <li class="informations" style="font-size:15px">akapity -  <pre style="color:#212529"> <code> <span> &lt;br&gt; </span> </code>  </pre></li>
                            </ul>
                            <br>
                            <input type="submit" value="Edytuj przepis" class="btn btn-outline-dark">
                        </form>
                       
                    </div>
                </div>
               
            </div>
        </div>
    </div>
<%- include("../partials/footer") %>