<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    
    
 
   
    <div class="row">
        <div class="col-lg-12">
            <h1 class="headerp text-center">Wszystkie przepisy</h1>
            <% if(currentUser){ %>
                <div class="text-center">
                    <a href="/recipes/category/new" class="btn btn-outline-dark">Dodaj nową kategorię</a>
                </div>
                
            <% } %>
            
				<form action="/recipes/title/search" method="get">
					<div class="input-group mb-3">
						<input type="search" id="news" autocomplete="off" class="form-control" name="title" placeholder="Wpisz tytuł przepisu" aria-label="Wpisz tytuł przepisu" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-outline-dark" type="submit" style="border:none; border-bottom: 1px solid #212529;"><i class="fas fa-search"></i></button>
						</div>
					</div>
				</form>
            <% if(categories.length !== 0){ %>
                <div class="dropdown text-center">
                    <button class="btn btn-outline-dark dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Wybierz kategorię
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% for(let i=0; i< categories.length; i++){ %>
                            <a class="dropdown-item" href="/recipes/category/<%= categories[i].link %>"><%= categories[i].name %></a>
                        <% } %>
                        
                    </div>
                </div>
                <br>
            <% } %>
            
        </div>
    </div>

    <% if(recipes.length===0){ %>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="alert alert-secondary text-center" role="alert">
                    Nie mamy jeszcze przepisów na stronie
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="row">
                
                    <% for(let i=recipes.length-1; i>=0;i--){ %>
                        <div class="col-lg-4 col-md-12" style="margin-top: 8px">
                            <div class="card">
                                <img src="<%= recipes[i].profile %>" alt="" class="card-img-top">
                                <br>
                                <div class="card-title text-center title">
                                    <a href="/recipes/<%= recipes[i].link %>" style="color: #212529"><%= recipes[i].title %></a>
                                </div>
                                <div class="card-body">
                                    <% if(recipes[i].description.length < 200){ %>
                                        <p class="description"><%- recipes[i].description %></p>
                                    <% } else { %>
                                        <p class="description"><%- recipes[i].description.substring(0,200) %>...</p>
                                    <% } %>
                                    <label>
                                        <i class="far fa-clock"></i>
                                        <span style="margin-right:5px">
                                            <% if(recipes[i].hours === 0){ %>
                                                <%= `${recipes[i].minutes}min` %>
                                            <% } else { %>
                                                <%= `${recipes[i].hours}h ${recipes[i].minutes}min` %>
                                            <% } %>
                                            
                                        </span>
                                        <i class="fas fa-utensils"></i>
                                        <span style="margin-right:5px"><%= recipes[i].plates %></span>
                                        <i class="fas fa-comments"></i>
                                        <span><%= recipes[i].comments.length %></span>
                                    </label>
                                    <br>
                                    <a href="/recipes/<%= recipes[i].link %>" class="btn btn-outline-dark">Zobacz składniki</a>
                        
                        
                                </div>
                        
                            </div>
                        </div>
                    <% } %>
                
        </div>
       
    <% } %>
    
    
</div>
<%- include("../partials/footer") %>