<%- include("../partials/header") %>

<div class="container customContainer">
    
    
 
   
    <div class="row">
        <div class="col-lg-12">
            <h1 class="headerp text-center">
                Wyszukiwanie przepisów dla parametru <%= param %>: <%= recipes.length %>
            </h1>
            <% if(currentUser && currentUser.username === "Admin"){ %>
                <div class="text-center">
                    <a href="/recipes/category/new" class="btn btn-outline-dark">Dodaj nową kategorię</a>
                </div>
                
            <% } %>
            
				<form action="/recipes/title/search" method="get">
					<div class="input-group mb-3">
						<input type="search" id="news" autocomplete="off" class="form-control" name="title" value="<%= param %>" placeholder="Wpisz tytuł przepisu" aria-label="Wpisz tytuł przepisu" aria-describedby="basic-addon2" required>
						<div class="input-group-append">
                            <button class="btn btn-green" type="submit"><i class="fas fa-search"></i></button>
                        </div>
					</div>
				</form>
            <% if(categories.length !== 0){ %>
                <div class="dropdown text-center">
                    <button class="btn btn-outline-dark dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Wybierz kategorię
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% for(let i=0; i< categories.length; i++){ %>
                            <a class="dropdown-item" href="/recipes/category/<%= categories[i].link %>"><%= categories[i].name %></a>
                        <% } %>
                        
                    </div>
                </div>
                <br>
            <% } %>
            
        </div>
    </div>

    <% if(recipes.length===0){ %>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="alert alert-secondary text-center" role="alert">
                    Nie znależliśmy przepisów dla parametru <%= param %>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="row">
                
            <% for(let i = recipes.length - 1; i >= 0; i--){ %>
                <%- include("../partials/recipe", { recipe: recipes[i] }) %>
            <% } %>
                
        </div>
       
    <% } %>
    
    
</div>
<%- include("../partials/footer") %>