<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <img src="<%= recipe.profile %>" alt="" class="card-img-top show">

                <div class="card-body">
                    <div class="card-title text-center title show"><%= recipe.title %></div>
                    <div class="informations">
                        <% if(!recipe.published){ %>
                            <span class="badge text-bg-dark">Wersja robocza</span>
                        <% } %>
                        <p>
                            <i class="far fa-clock" style="margin-right: 6px;"></i>
                            <span>
                                <% if(recipe.hours === 0){ %>
                                    <%= `Czas przygotowania: ${recipe.minutes}min` %>
                                <% } else { %>
                                    <%= `Czas przygotowania: ${recipe.hours}h ${recipe.minutes}min` %>
                                <% } %>
                            
                            </span>
                        </p>
                        <p>
                            <i class="far fa-lightbulb fa-lg" style="margin-right: 6px;"></i>
                            <span>Poziom zaawansowania: <%= recipe.level %></span>
                        </p>
                        <% if(recipe.categories.length !== 0){ %>
                            <p>
                                <i class="fas fa-tag" style="margin-right: 6px;"></i>
            
                                <span>
                                    
                                    <% for(let i=0;i< recipe.categories.length;i++){ %>
                                        <a href="/recipes/category/<%= recipe.categories[i].link %>" style="color: #212529;"><%= recipe.categories[i].name %>,</a>
                                    <% } %>
                                </span>
                            </p>
                        <% } %>
                        <% if(recipe.products.length !== 0){ %>
                            <p>
                                <i class="fas fa-shopping-bag" style="margin-right: 6px;"></i>
            
                                <span>
                                    Wykorzystane produkty:
                                    <% for(let i=0;i< recipe.products.length;i++){ %>
                                        <a href="/products/<%= recipe.products[i].link %>" style="color: #212529;"><%= recipe.products[i].title %>,</a>
                                    <% } %>
                                </span>
                            </p>
                        <% } %>
                        <p>
                            <i class="fas fa-utensils" style="margin-right: 6px;"></i>
                            <span>Porcje: <%= recipe.plates %></span>
                        </p>
                        <p>
                            <i class="far fa-user" style="margin-right: 6px;"></i>
                            <span>Dodane przez: <%= recipe.author.username %></span>
                        </p>
                     
                        
                       
                    </div>
                    <p class="description"><%- recipe.description %></p>
                  
                    <p class="preparation">Składniki: </p>
                    <% if(recipe.ingredients.length === 0){ %>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="alert alert-secondary" role="alert">
                                    Nie mamy jeszcze składników do tego przepisu
                                </div>
                            </div>
                        </div>
                        
                    <% } else { %>
                        <ul>
                            <% for(let i=0;i<recipe.ingredients.length;i++){ %>
                                <li class="description_comment"><%= recipe.ingredients[i].text %></li>
                                <% if(currentUser && currentUser.username === recipe.author.username) { %>
                                    <div class="d-inline">
                                        <a href="/recipes/<%= recipe._id %>/ingredients/<%= recipe.ingredients[i]._id %>/edit">Edytuj</a>
                                        <a href="/recipes/<%= recipe._id %>/ingredients/<%= recipe.ingredients[i]._id %>/delete">Usuń</a>
                                    </div>
                                   
                                <% } %>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(recipe.cheese.length !== 0){ %>
                        <p class="preparation">Ser: </p>
                        <ul>
                            <% for(let i=0;i<recipe.cheese.length;i++){ %>
                                <li class="description_comment"><%= recipe.cheese[i].text %></li>
                                <% if(currentUser && currentUser.username === recipe.author.username) { %>
                                    <div class="d-inline">
                                        <a href="/recipes/<%= recipe._id %>/cheese/<%= recipe.cheese[i]._id %>/edit">Edytuj</a>
                                        <a href="/recipes/<%= recipe._id %>/cheese/<%= recipe.cheese[i]._id %>/delete">Usuń</a>
                                    </div>
                                   
                                <% } %>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(recipe.decorations.length !== 0){ %>
                        <p class="preparation">Do dekoracji: </p>
                        <ul>
                            <% for(let i=0;i<recipe.decorations.length;i++){ %>
                                <li class="description_comment"><%= recipe.decorations[i].text %></li>
                                <% if(currentUser && currentUser.username === recipe.author.username) { %>
                                    <div class="d-inline">
                                        <a href="/recipes/<%= recipe._id %>/decorations/<%= recipe.decorations[i]._id %>/edit">Edytuj</a>
                                        <a href="/recipes/<%= recipe._id %>/decorations/<%= recipe.decorations[i]._id %>/delete">Usuń</a>
                                    </div>
                                   
                                <% } %>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(recipe.sauce.length !== 0){ %>
                        <p class="preparation">Sos: </p>
                        <ul>
                            <% for(let i=0;i<recipe.sauce.length;i++){ %>
                                <li class="description_comment"><%= recipe.sauce[i].text %></li>
                                <% if(currentUser && currentUser.username === recipe.author.username) { %>
                                    <div class="d-inline">
                                        <a href="/recipes/<%= recipe._id %>/sauce/<%= recipe.sauce[i]._id %>/edit">Edytuj</a>
                                        <a href="/recipes/<%= recipe._id %>/sauce/<%= recipe.sauce[i]._id %>/delete">Usuń</a>
                                    </div>
                                   
                                <% } %>
                            <% } %>
                        </ul>
                    <% } %>
                    <p class="preparation">Sposób przygotowania: </p>
                    <% if(recipe.preparations.length === 0){ %>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="alert alert-secondary" role="alert">
                                    Nie mamy jeszcze kroków przygotowania do tego przepisu
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        <ol>
                            <% for(let i=0;i<recipe.preparations.length;i++){ %>
                                <li class="description_comment"><%= recipe.preparations[i].text %></li>
                                <% if(currentUser && currentUser.username === recipe.author.username) { %>
                                   
                                    <a href="/recipes/<%= recipe._id %>/preparations/<%= recipe.preparations[i]._id %>/edit">Edytuj</a>
                                    <a href="/recipes/<%= recipe._id %>/preparations/<%= recipe.preparations[i]._id %>/delete">Usuń</a>
                                    
                                    
                                <% } %>
                            <% } %>
                        </ol>
                    <% } %>

                    <% if(recipe.pictures.length !== 0){ %>
                        <p class="preparation">Galeria</p>
                           <div class="row">
                                <% for(let i=0;i< recipe.pictures.length;i++){ %>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <img src="<%= recipe.pictures[i].source %>" alt="Galeria" class="img-thumbnail">
                                    </div>
                                    
                                
                                <% } %>
                           </div>
                           
                                
                       
                    <% } %>
                    <br>
                    <p class="date"> Ostatnia aktualizacja: <%= recipe.written.toLocaleDateString() %></p>



                    <% if(currentUser && currentUser.username === recipe.author.username){ %>
                        <div class="d-flex" style="gap: 10px; margin-bottom: 10px;">
                            <div class="dropdown">
                                <button class="btn btn-outline-dark dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Modyfikacja
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                
        
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/edit">Edytuj przepis</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/delete">Usuń przepis</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/edit/profile">Edytuj zdjęcie główne</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/add/picture">Dodaj zdjęcie do galerii</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/ingredients/add">Dodaj składnik</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/cheese/add">Dodaj składnik sera</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/sauce/add">Dodaj składnik sosu</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/decorations/add">Dodaj składnik dekoracji</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/preparations/add">Dodaj sposób przygotowania</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/categories/add">Połącz kategorię</a>
                                    <a class="dropdown-item" href="/recipes/<%= recipe._id %>/products/add">Połącz z produktem</a>
                                    
                                </div>
                            </div>
                            <% if(!recipe.published){ %>
                                <a href="/recipes/<%= recipe._id %>/publish" class="btn btn-dark">Opublikuj</a>
                            <% } %>
                        </div>
                        
                       


                    <% }  %>
                    <button type="button" class="report_button" data-bs-toggle="modal" data-bs-target="#reportRecipe">
                        <i class="fas fa-flag"></i> Zgłoś
                    </button>
                </div>
                <div class="card-footer">
                    <h2 class="title">Komentarze <span style="margin-left: 4%"><%= comments.length %></span></h2>
                    <% if(comments.length === 0){ %>
                        <div>
                            <a href="/recipes/<%= recipe.link %>/comments/new" class="btn btn-outline-dark">Dodaj nowy komentarz</a>
                        </div>
                     
                        <br>
                        <div class="alert alert-secondary text-center" role="alert">
                            Nie mamy jeszcze komentarzy do tego przepisu
                        </div>
                    <% } else { %>
                        <div>
                            <a href="/recipes/<%= recipe.link %>/comments/new" class="btn btn-outline-dark">Dodaj nowy komentarz</a>
                        </div>
                     
                        <br>
                        <div style="height: 500px; overflow-y:scroll">

                            <% for(let i=comments.length-1; i>=0;i--){ %>
                                <% if(comments[i].nickname) { %>
                                    
                                        <div class="d-flex justify-content-start mb-4 messages">
                                            <div class="img_cont_msg">
                                                <div class="rounded-circle img_cont_comments"></div>
                                            </div>
                                            <div class="msg_cotainer">
                                                <p class="author"><strong><%= comments[i].nickname %></strong></p>
                                                <p class="description_comment"><%= comments[i].text %></p>
                                                <span class="date_comment"><%= comments[i].written.toLocaleDateString() %></span>
                                                <br>
                                                <br>
                                                <a href="/recipes/<%= recipe.link %>/comments/<%= comments[i]._id %>/answers/new" style="color: #212529;margin-right: 5px">Odpowiedz</a>
                                                <a href="/recipes/<%= recipe.link %>/comments/<%= comments[i]._id %>/answers/" style="color: #212529">Zobacz odpowiedzi(<%= comments[i].answers.length %>)</a>
                                                
                                            </div>
    
                                        </div>
    
    
    
    
                                    
                                    <hr>
                                <% } else { %>
                                   
                                        <div class="d-flex justify-content-start mb-4 messages">
                                            <div class="img_cont_msg">
                                                <img src="<%= comments[i].author.profile %>" class="rounded-circle img_cont_msg">
                                            </div>
                                            <div class="msg_cotainer">
                                                <p class="author"><strong><%= comments[i].author.username %></strong></p>
                                                <p class="description_comment"><%= comments[i].text %></p>
                                                <span class="date_comment"><%= comments[i].written.toLocaleDateString() %></span>
                                                <br>
                                                <br>
                                                <a href="/recipes/<%= recipe.link %>/comments/<%= comments[i]._id %>/answers/new" style="color: #212529;margin-right: 5px">Odpowiedz</a>
                                                <a href="/recipes/<%= recipe.link %>/comments/<%= comments[i]._id %>/answers/" style="color: #212529">Zobacz odpowiedzi(<%= comments[i].answers.length %>)</a>
                                            </div>
    
                                        </div>
    
    
    
    
                                    
                                    <hr>
                                <% } %>
                                

                            <% } %>

                        </div>

                    <% } %>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reportRecipe" tabindex="-1" aria-labelledby="reportRecipeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title headerp" id="reportRecipeLabel">Zgłoś przepis</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/recipes/<%= recipe._id %>/report" method="post">
                        <p class="description">Powód zgłoszenia</p>
                        <input type="text" id="reason" autocomplete="off" class="form-control" name="reason" placeholder="Wpisz powód" aria-label="Powód zgłoszenia" aria-describedby="basic-addon2" required>
                        <br>
                        <p class="description">Email zgłaszającego </p>
                        <input type="email" id="reporterEmail" autocomplete="off" class="form-control" name="reporterEmail" placeholder="Wpisz email" aria-label="Email zgłaszającego" aria-describedby="basic-addon2" required>
                        <br>
                        <input type="submit" value="Zgłoś" class="btn btn-green">
                    
                    </form>
              
                </div>
            </div>
        </div>
    </div>
<%- include("../partials/footer") %>
