<%- include("../partials/header") %>

<div class="container customContainer">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 text-center">
            <p class="title">Czy chcesz dodać kolejny opis ceny produktu <%= product.title %>?</p>
            <a href="/products/<%= product._id %>/prices/new" class="btn btn-dark">
                Tak
            </a>
            <a href="/products/<%= product.link %>" class="btn btn-outline-dark">Nie</a>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>