<%- include("../partials/header") %>

<div class="container customContainer">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br>
                    Edytuj cechę dlaczego warto jeść do <%= product.title %>
                </div>
                <div class="card-body">
                        <form action="/products/<%= product._id %>/whyToEat/<%= whyToEat._id %>?_method=PUT" method="post">
                            
                            <p class="description_new">Edytuj opis cechy</p>
                            <textarea name="whyToEat[text]" id="description" class="form-control" placeholder="Cecha dlaczego warto jeść" required><%= whyToEat.text %></textarea>
                            <br>
                           
                            <input type="submit" value="Edytuj cechę" class="btn btn-outline-dark">
                        </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<%- include("../partials/footer") %>