<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-title text-center title_new" id="name">
                    <br> 
                
                    Edytuj <%= product.title %>
                </div>
                <div class="card-body">
                    <form action="/products/<%= product._id %>?_method=PUT" method="post">
                        <p class="description_new">Edytuj tytuł</p>
                        <input type="text" name="product[title]" class="form-control" value="<%= product.title %>" placeholder="Tytuł produktu">
                        <br>
                        <p class="description_new">Edytuj opis</p>
                        <textarea name="product[description]" class="form-control" id="description" placeholder="Opis produktu"><%= product.description %></textarea>
                        <br>
                        <ul class="description_new">
                                Poradnik formatowania tekstu opisu produktu:
                                <li class="informations" style="font-size:15px">pogrubienie -  <pre style="color:#212529"> <code> <span> &lt;strong&gt; wyraz lub wyrażenie &lt;/strong&gt; </span> </code>  </pre></li>
                                <li class="informations" style="font-size:15px">pochylenie -  <pre style="color:#212529"> <code> <span> &lt;em&gt; wyraz lub wyrażenie &lt;/em&gt; </span> </code>  </pre></li>
                                <li class="informations" style="font-size:15px">podkreślenie -  <pre style="color:#212529"> <code> <span> &lt;ins&gt; wyraz lub wyrażenie &lt;/ins&gt; </span> </code>  </pre></li>
                                <li class="informations" style="font-size:15px">przekreślenie -  <pre style="color:#212529"> <code> <span> &lt;del&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre></li>
                                <li class="informations" style="font-size:15px">akapity -  <pre style="color:#212529"> <code> <span> &lt;br&gt; </span> </code>  </pre></li>
                        </ul>
                        <br>
                        <input type="submit" value="Edytuj produkt" class="btn btn-outline-dark">
                    </form>
                </div>
            </div>
           
        </div>
    </div>
</div>
<%- include("../partials/footer") %>