<%- include("../partials/header") %>

<div class="container customContainer">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <img src="<%= product.profile %>" alt="" class="card-img-top show">
                
                <div class="card-body">
                    <div class="card-title text-center title show"><%= product.title %></div>
                    <% if(!product.published){ %>
                        <span class="badge text-bg-dark">Wersja robocza</span>
                    <% } %>
                    <p class="description"><%- product.description %></p>
                  
                   
                    <% if(product.whyToEat.length !== 0){ %>
                        <p class="preparation">Dlaczego warto jeść: </p>
                        <ul>
                            <% for(let i=0;i<product.whyToEat.length;i++){ %>
                                <li class="description_comment"><%= product.whyToEat[i].text %></li>
                                <% if(currentUser) { %>
                                    <div class="d-inline">
                                        <a href="/products/<%= product._id %>/whyToEat/<%= product.whyToEat[i]._id %>/edit">Edytuj</a>
                                        <a href="/products/<%= product._id %>/whyToEat/<%= product.whyToEat[i]._id %>/delete">Usuń</a>
                                    </div>
                                   
                                <% } %>
                            <% } %>
                        </ul>
                        
                    <% } %>

                    <% if(product.whyToAvoid.length > 0){ %>
                        <p class="preparation">Dlaczego unikać: </p>
                        <ul>
                            <% for(let i=0;i<product.whyToAvoid.length;i++){ %>
                                <li class="description_comment"><%= product.whyToAvoid[i].text %></li>
                                <% if(currentUser) { %>
                                    <div class="d-inline">
                                        <a href="/products/<%= product._id %>/whyToAvoid/<%= product.whyToAvoid[i]._id %>/edit">Edytuj</a>
                                        <a href="/products/<%= product._id %>/whyToAvoid/<%= product.whyToAvoid[i]._id %>/delete">Usuń</a>
                                    </div>
                                   
                                <% } %>
                            <% } %>
                        </ul>
                        
                    <% } %>
                        
                    <% if(product.substitutes.length !== 0){ %>
                        <p class="preparation">Zamienniki: </p>
                        <ul>
                            <% for(let i=0;i<product.substitutes.length;i++){ %>
                                <li class="description_comment"><%= product.substitutes[i].text %></li>
                                <% if(currentUser) { %>
                                    <div class="d-inline">
                                        <a href="/products/<%= product._id %>/substitutes/<%= product.substitutes[i]._id %>/edit">Edytuj</a>
                                        <a href="/products/<%= product._id %>/substitutes/<%= product.substitutes[i]._id %>/delete">Usuń</a>
                                    </div>
                                   
                                <% } %>
                            <% } %>
                        </ul>
                        
                    <% } %>
                   
                    <p class="preparation">Ostatnio powiązane przepisy: </p>
                    <% if(product.recipes.length === 0){ %>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="alert alert-secondary" role="alert">
                                    Nie powiązaliśmy jeszcze żadnego przepisu z <%= product.title %>
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        <ul>
                            <% for(let i=0;i<product.recipes.length;i++){ %>
                                <li class="description_comment"> <a href="/products/<%= product.recipes[i].link %>" style="color: #212529"><%= product.recipes[i].title %></a></li>
                                <% if(currentUser) { %>
                                   
                                    <a href="/products/<%= product.recipes[i]._id %>/edit">Edytuj przepis</a>
                                    <a href="/products/<%= product.recipes[i]._id %>/delete">Usuń przepis</a>
                                    
                                    
                                <% } %>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(product.pictures.length !== 0){ %>
                        <p class="preparation">Galeria</p>
                           <div class="row">
                                <% for(let i=0;i< product.pictures.length;i++){ %>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <img src="<%= product.pictures[i].source %>" alt="Galeria" class="img-thumbnail">
                                    </div>
                                    
                                
                                <% } %>
                           </div>
                           
                                
                       
                    <% } %>



                    <% if(currentUser){ %>
                        <div class="modifyButtonsContainer">
                            <div class="dropdown">
                                <button class="btn btn-outline-dark dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Modyfikacja
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                
        
                                    <a class="dropdown-item" href="/products/<%= product._id %>/edit">Edytuj produkt</a>
                                    <a class="dropdown-item" href="/products/<%= product._id %>/delete">Usuń produkt</a>
                                    <a class="dropdown-item" href="/products/<%= product._id %>/edit/profile">Edytuj zdjęcie główne</a>
                                    <a class="dropdown-item" href="/products/<%= product._id %>/add/picture">Dodaj zdjęcie do galerii</a>
                                    <a class="dropdown-item" href="/products/<%= product._id %>/whyToEat/new">Dodaj powód do jedzenia</a>
                                    <a class="dropdown-item" href="/products/<%= product._id %>/whyToAvoid/new">Dodaj powód do unikania</a>
                                    <a class="dropdown-item" href="/products/<%= product._id %>/substitutes/new">Dodaj zamiennik</a>
                                    <a class="dropdown-item" href="/products/<%= product._id %>/products/add">Powiąż z przepisem</a>
                                
                                    
                                </div>
                            </div>
                            <% if(!product.published){ %>
                                <a href="/products/<%= product._id %>/publish" class="btn btn-dark">Opublikuj</a>
                            <% } %>
                        </div>
                        
                        
                       


                    <% }  %>
                    <button type="button" class="report_button" data-bs-toggle="modal" data-bs-target="#reportProduct">
                        <i class="fas fa-flag"></i> Zgłoś
                    </button>

                </div>
               
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="reportProduct" tabindex="-1" aria-labelledby="reportProductLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title headerp" id="reportProductLabel">Zgłoś przepis</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/products/<%= product._id %>/report" method="post">
                        <p class="description">Powód zgłoszenia</p>
                        <input type="text" id="reason" autocomplete="off" class="form-control" name="reason" placeholder="Wpisz powód" aria-label="Powód zgłoszenia" aria-describedby="basic-addon2" required>
                        <br>
                        <p class="description">Email zgłaszającego </p>
                        <input type="email" id="reporterEmail" autocomplete="off" class="form-control" name="reporterEmail" placeholder="Wpisz email" aria-label="Email zgłaszającego" aria-describedby="basic-addon2" required>
                        <br>
                        <input type="submit" value="Zgłoś" class="btn btn-green">
                    
                    </form>
              
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/footer") %>