<%- include("../partials/header") %>
<br>
<br>
<br>
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <img src="<%= product.profile %>" alt="" class="card-img-top">
                <br>
                <div class="card-title text-center title"><%= product.title %></div>
                <div class="card-body">
                   
                    <p class="description"><%= product.description %></p>
                  
                    <p class="preparation">Dlaczego warto jeść: </p>
                    <% if(product.whyToEat.length === 0){ %>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="alert alert-secondary" role="alert">
                                    Nie dodaliśmy jeszce powodów dla ktorych warto jeść
                                </div>
                            </div>
                        </div>
                        
                    <% } else { %>
                        <ul>
                            <% for(let i=0;i<product.whyToEat.length;i++){ %>
                                <li class="description_comment"><%= product.whyToEat[i].text %></li>
                                <% if(currentUser) { %>
                                    <div class="d-inline">
                                        <a href="/products/<%= product._id %>/whyToEat/<%= product.whyToEat[i]._id %>/edit">Edytuj</a>
                                        <a href="/products/<%= product._id %>/whyToEat/<%= product.whyToEat[i]._id %>/delete">Usuń</a>
                                    </div>
                                   
                                <% } %>
                            <% } %>
                        </ul>
                    <% } %>
                   
                    <p class="preparation">Ostatnio powiązane przepisy: </p>
                    <% if(product.recipes.length === 0){ %>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="alert alert-secondary" role="alert">
                                    Nie powiązaliśmy jeszcze żadnego przepisu z <%= product.title %>
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        <ul>
                            <% for(let i=0;i<product.recipes.length;i++){ %>
                                <li class="description_comment"> <a href="/recipes/<%= product.recipes[i].link %>" style="color: #212529"><%= product.recipes[i].title %></a></li>
                                <% if(currentUser) { %>
                                   
                                    <a href="/recipes/<%= product.recipes[i]._id %>/edit">Edytuj przepis</a>
                                    <a href="/recipes/<%= product.recipes[i]._id %>/delete">Usuń przepis</a>
                                    
                                    
                                <% } %>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(product.pictures.length !== 0){ %>
                        <p class="preparation">Galeria</p>
                           <div class="row">
                                <% for(let i=0;i< product.pictures.length;i++){ %>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <img src="<%= product.pictures[i].source %>" alt="Galeria" class="img-thumbnail">
                                    </div>
                                    
                                
                                <% } %>
                           </div>
                           
                                
                       
                    <% } %>



                    <% if(currentUser){ %>
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Modyfikacja
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">
                              
    
                                <a class="dropdown-item" href="/products/<%= product._id %>/edit">Edytuj produkt</a>
                                <a class="dropdown-item" href="/products/<%= product._id %>/delete">Usuń produkt</a>
                                <a class="dropdown-item" href="/products/<%= product._id %>/edit/profile">Edytuj zdjęcie główne</a>
                                <a class="dropdown-item" href="/products/<%= product._id %>/add/picture">Dodaj zdjęcie do galerii</a>
                                <a class="dropdown-item" href="/products/<%= product._id %>/whyToEat/new">Dodaj powód do jedzenia</a>
                                <a class="dropdown-item" href="/products/<%= product._id %>/recipes/add">Powiąż z przepisem</a>
                               
                                
                            </div>
                        </div>
                        <br>
                       


                    <% }  %>

                </div>
               
            </div>
        </div>
    </div>
    <%- include("../partials/footer") %>